
<div>
    <div class="col-md-12" style="margin-bottom:30px">
        <h3>Integrated pulse report</h3>
        <div class="col-md-4" style="height:200px" ng-include="'app/components/Dashboard/demandSource.html'"></div>
        <div class="col-md-4" style="height:200px" ng-include="'app/components/Dashboard/demandClassification.html'"></div>
        <div class="col-md-4" style="height:200px" ng-include="'app/components/Dashboard/demandStatus.html'"></div>
    </div>

    <div class="col-md-12" style="margin-top:30px">
        <div class="col-md-4" style="height:200px" ng-include="'app/components/Dashboard/oppurtunityCategory.html'"></div>
        <div class="col-md-4" style="height:200px" ng-include="'app/components/Dashboard/oppurtunityClassification.html'"></div>
        <div class="col-md-4" style="height:200px" ng-include="'app/components/Dashboard/oppurtunityStatus.html'"></div>
    </div>
</div>