<div>
    <h4>By Opportunity Category</h4>
    <div style="height:200px;overflow-y:auto" data-ng-init="getOppurtunityCategoryData()">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Onsite</th>
                    <th>Offshore</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in byOppurtunityCategoryList">
                    <td>
                        {{item.Key}}
                    </td>
                    <td>
                        {{item.Onsite}}
                    </td>
                    <td>
                        {{item.Offshore}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>